{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <div class="content-width">
        <div class="head-all">
            <div class="head-left"></div>
            <div class="head-text">Новый пароль</div>
            <div class="head-close"></div>
            <div class="head-expand"></div>
            <div class="head-right"></div>
        </div>
        <div class="body-block">
            <div class="center">
                <div class="block">Введите и подтвердите новый пароль</div>
                <form action="" method="post">
                    {% csrf_token %}

                    {% if form.new_password2.errors %}
                        <div class="block"><p class="err">{{ form.new_password2.errors }}</p></div>{% endif %}


                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    <table>
                        <tr>
                            <td>{{ form.new_password1.label_tag }}</td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.label_tag }}</td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                    </table>
                    <button class="mini-key">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>

    {% else %}
        <h1>Сброс пароля не доступен</h1>
        <p>Ссылка на сброс пароля не действительна, возможно она уже была использована. Попробуйте запросить сброс пароля заново.</p>
    {% endif %}

{% endblock %}