{% extends "base.html" %}
{% block title %}<title>Ноутбуки оптом</title>{% endblock %}

{% block left %}

    <div class="vertical-menu">
        <div class="head-all">
            <div class="head-left"></div>
            <div class="head-text">Поставки</div>
            <div class="head-close"></div>
            <div class="head-expand"></div>
            <div class="head-right"></div>
        </div>
        <div class="body-block">
            <div class="center">

                <a href="{% url 'opt_pc' %}">
                    <div class="list">Компьютеры</div>
                </a>
                <a href="{% url 'opt_nout' %}">
                    <div class="list">Ноутбуки</div>
                </a>
                <a href="{% url 'opt_monoblock' %}">
                    <div class="list-link">Моноблоки</div>
                </a>
                <a href="{% url 'search' %}">
                    <div class="list">Комплектующие</div>
                </a>

            </div>
        </div>
    </div>
    <br>
    <div class="vertical-menu">
        <div class="head-all">
            <div class="head-left"></div>
            <div class="head-text">Производители</div>
            <div class="head-close"></div>
            <div class="head-expand"></div>
            <div class="head-right"></div>
        </div>
        <div class="body-block">
            <div class="center">

                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=76">
                    <div class="list">DELL</div>
                </a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=14">
                    <div class="list">HP</div>
                </a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=49">
                    <div class="list">Acer</div>
                </a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=46">
                    <div class="list">Lenovо</div>
                </a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=17"><div class="list">Asus</div></a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=71"><div class="list">MSI</div></a>
                <a href="{% url 'search' %}?q=&order=1&category=31&vendor=250"><div class="list">Dream Machines</div></a>

            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="row pad">
    <div class="search-catalog">
        <div class="head-all">
            <div class="head-left"></div>
            <div class="head-text">Поиск по каталогу</div>
            <div class="head-close"></div>
            <div class="head-expand"></div>
            <div class="head-right"></div>
        </div>
        <div class="body-block">
            <div class="center">
                <div class="search-form">
                    <form action="{% url 'search' %}" method="GET">


                            <div class="q">

                                {{ form.q }}<br>
                                {{ form.category }}<br>
                                {{ form.vendor }}
                            </div>
                            <div class="flex">
                                {{ form.order.label }}:  {{ form.order }}
                            </div>
                            <div class="block">{{ form.available }} {{ form.available.label }}</div>
                        {% if user.is_staff %}
                        <div class="distr">
                                {{ form.distr.label }}<br>
                                {{ form.distr }}
                            </div>
                        {% endif %}
                        <button class="mini-key">Искать</button>
                    </form>
                    <a href="{% url 'search' %}"><div class="list">Сбросить</div></a>
                </div>
            </div>
        </div>
    </div>

    <div class="empty">&nbsp;</div>

</div>

    <br>

    <h1>Моноблоки оптом</h1>
    <p>ТОО "Concept Solution" осущесвляет оптовые поставки моноблоков по Республике Казахстан.<br>
        Мы работаем только с официальным представителями мировых производителей моноблоков.<br>
        В нашей базе данных {{ all_count }} наименований <a href="{% url 'search' %}?q=&order=1&category=31&vendor=">моноблоков.</a>
    </p>
    <table border="1">
    {% for n in nouts %}
        <tr><td>{{ n.product.title }}</td><td>{{ n.price }}</td></tr>
    {% endfor %}
    </table>
    <a href="{% url 'search' %}?q=&order=1&category=30&vendor=">Все ноутбуки</a>

    <h2>Брендовые моноблоки оптом</h2>
    <p>Моноблоки мировых производителей представлены в Казахстане следуюшими брендами:</p>

    <ul>
        <li><a href="{% url 'search' %}?q=&order=1&category=31&vendor=98">Apple ({{ cntv.apple }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=31&vendor=76">DELL ({{ cntv.dell }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=31&vendor=14">HP ({{ cntv.hp }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=31&vendor=49">Acer ({{ cntv.acer }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=31&vendor=46">Lenovo ({{ cntv.lenovo }})</a></li>

    </ul>

    <h2>Профессиональный подбор моноблоков</h2>
    <p>
        Наши специалисты подберут оптимальный моноблок под ваши задачи для комфортной работы, а также предложат
        более {{ accesses }} аксессуаров к ващему моноблоку.
    </p>
    <h3>Аксессуары для моноблоков</h3>
    <ul>
        <li><a href="{% url 'search' %}?q=&order=1&category=89&vendor=">Карты памяти ({{ cntc.sd }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=45&vendor=">Флешки ({{ cntc.flesh }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=24&vendor=">Мышки ({{ cntc.mouse }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=25&vendor=">Клавиатуры ({{ cntc.keyboard }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=26&vendor=">Клавиатуры и мышки (комплекты) ({{ cntc.keymouse }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=21&vendor=">Внешние жёсткие диски ({{ cntc.exthdd }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=223&vendor=">Внешние оптические приводы ({{ cntc.extcd }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=54&vendor=">Программное обеспечение ({{ cntc.software }})</a></li>

    </ul>


    <h3>Дополнительная периферия для моноблоков</h3>

    <ul>
        <li><a href="{% url 'search' %}?q=&order=1&category=28&vendor=">МФУ ({{ cntc.mfu }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=29&vendor=">Принтеры ({{ cntc.printer }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=80&vendor=">Сканнеры ({{ cntc.scaner }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=117&vendor=">Картридеры ({{ cntc.cartreader }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=97&vendor=">Акустические системы ({{ cntc.akust }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=54&vendor=">Программное обеспечение ({{ cntc.software }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=86&vendor=">Веб-камеры ({{ cntc.webcam }})</a></li>
        <li><a href="{% url 'search' %}?q=&order=1&category=99&vendor=">Виртуальная реальность ({{ cntc.vr }})</a></li>

    </ul>
    <br>
    <h2>Заказать моноблоки оптом</h2>
    <p>Заказать моноблоки оптом вы можете по телефонам:</p>
    <h3><b><a href="tel:+77072174105">Звонить: +7&nbsp;(707)&nbsp;217&nbsp;41&nbsp;05</a></b></h3>
    <h3><b><a href="tel:+77089725848">Звонить: +7&nbsp;(727)&nbsp;972&nbsp;58&nbsp;48</a></b></h3>
{% endblock %}
