{% extends "base.html" %}
{% block title %}<title>О компании Concept Solution</title>{% endblock %}

{% block content %}
    <h1>О компании Concept Solution</h1>
    <p>ТОО Concept Solution является авторизованным продавцом официальных поставщиков компьютерной и цифровой техники в
        Республике Казахстан.</p>
    <h3>Основные производители</h3>
    <ul>
        <li>INTEL</li>
        <li>AMD</li>
        <li>HP</li>
        <li>DELL</li>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Asus</li>
        <li>Acer</li>
        <li>Kingston</li>
        <li>Xerox</li>
        <li>Cisco</li>
        <li>И многих других</li>
    </ul>

    <h2>Подробная информация по телефону</h2>

    <h3><b><a href="tel:+77072174105">+7&nbsp;(707)&nbsp;217&nbsp;41&nbsp;05</a></b></h3>

{% endblock %}