{% extends "base.html" %}
{% block title %}<title>Наши контакты</title>{% endblock %}

{% block content %}
    <h1>Наши контакты</h1>

    <h3>Адрес</h3>
    <p>
        Республика Казахстан<br>
        Город Алматы<br>
        Проспект Абая 68/74<br>
        Офис 202
    </p>

    <h2>Телефоны</h2>

    <h3><b><a href="tel:+77471018106">+7&nbsp;(747)&nbsp;101&nbsp;81&nbsp;06</a></b></h3>
    <h3><b><a href="tel:+77072174105">+7&nbsp;(707)&nbsp;217&nbsp;41&nbsp;05</a></b></h3>

    <h2>Электронная почта</h2>
    <h3><b><a href="mailto:zakaz@coso.kz">zakaz@coso.kz</a></b></h3>

{% endblock %}