{% extends "base.html" %}
{% block title %}<title>Каталог</title>{% endblock %}

{% block left %}

    <div class="vertical-menu">
        <div class="head-all">
            <div class="head-left"></div>
            <div class="head-text">{{ head }}</div>
            <div class="head-close"></div>
            <div class="head-expand"></div>
            <div class="head-right"></div>
        </div>
        <div class="body-block">
            <div class="center">


            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <h1>{{ a }}</h1>


    <br>

{% endblock %}